.AddressList {
    position: relative;
    height: 50px;
    // line-height: 50px;
    width: 120px;
}
.AddressList .AddressDropButton {
    height: 100%;
    width: 100%;
    text-align: center;
    color: #000;
    background: #fff;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0;
}
.AddressList .AddressDropButton .triangle {
    display: block;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    right: 12px;
    top: 50%;
    margin-top: -3px;
}
.AddressList .AddressDropButton .triangle.true {
    border-bottom: 6px solid #000;
}
.AddressList .AddressDropButton .triangle.false {
    border-top: 6px solid #000;
}

.AddressList .AddressWrap {
    position: absolute;
    background: #fff;
    width: 700px;
    max-height: 400px;
    margin-top: 20px;
    padding: 10px 20px;
    padding-right: 0;
}
.AddressList .AddressWrap::before {
    display: block;
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 12px solid #fff;
    border-right: 10px solid transparent;
    top: -12px;
    left: 40px;
}
.AddressList .AddressCont {
    max-height: inherit;
    overflow: auto;
    padding-right: 20px;
}

.AddressList .AddressCont .AddressLocation {
    width: 35%;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-block;
}
.AddressList .AddressCont .AddressLocation>span:last-child {
    cursor: pointer;
    display: inline-block;
    padding: 1px 1.5em;
    background: #fff5f4;
    color: red;
}
.AddressList .AddressCont .AddressSearch {
    width: 60%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    position: relative;
}
.AddressList .AddressCont .AddressSearch .AddressSearchResult {
    position: absolute;
    list-style: none;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 99;
    left: 48px;
    top: 32px;
    padding: 0;
    width: 161px;
    padding-left: 10px;
    border-top: 0;
}
.AddressList .AddressCont .AddressSearch .AddressSearchResult li {
    line-height: 30px;
    cursor: pointer;
}
.AddressList .AddressCont .AddressSearch .AddressSearchResult li:hover {
    color: red;
}

.AddressList .AddressWrap .AddressListWrap {
    padding-left: 50px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    position: relative;
}
.AddressList .AddressWrap .AddressListWrap .AddressListRow {
    width: 100%;
    line-height: 35px;
    padding: 10px 0;
}
.AddressList .AddressWrap .AddressListWrap .AddressListRow .keyData {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 40px;
    text-align: center;
}
.AddressList .AddressWrap .AddressListWrap .AddressListRow .dataWrap {
    width: 100%;
    display: block;
}
.AddressList .AddressWrap .AddressListWrap .AddressListRow .dataWrap>span {
    display: inline-block;
    text-align: center;
    width: 14%;
}
.AddressList .AddressWrap .AddressListWrap .AddressListRow .dataWrap>span>span {
    cursor: pointer;
}
.AddressList .AddressWrap .AddressListWrap .AddressListRow .dataWrap>span>span:hover {
    color: red;
}
