
$ns: cu- !default;

$teal: #1BBC9B;
$hulan: #09C4C7;
$white: #FFF;

$color-first: $hulan;

$progressbar-size: 2px;

.#{$ns}progress {
	z-index: 2000;
	.#{$ns}progress-bar {
		position: fixed;
		top: 0;
		width: 100%;
		height: $progressbar-size;
		background-color: $color-first;
		border-top-right-radius: $progressbar-size;
		border-bottom-right-radius: $progressbar-size;
		box-shadow: 1px 0 1px $color-first;
	}
	.#{$ns}spinner {
		position: fixed;
		top: 15px;
		right: 10px;
		width: 18px;
		height: 18px;
		border: 2px solid $color-first;
		border-left-color: transparent;
		border-radius: 50%;
		animation: rotateSpinner .6s infinite linear;
		-webkit-animation: rotateSpinner .6s infinite linear;
	}
}

@keyframes rotateSpinner {
	from {
		transform: rotateZ(0);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@-webkit-keyframes rotateSpinner {
	from {
		transform: rotateZ(0);
	}
	to {
		transform: rotateZ(360deg);
	}
}
