//  ==================================================
//  Include: AddressInput AddressMap
//
//  TODO: [improve] 美化 map-nav 样式
//  ==================================================

/*==================================================
    Component: AddressSearch
  ==================================================*/

// variable
$ns: "" !default;
$rose: #e74c3c;
$teal: #1bbc9b;
$hulan: #09c4c7;
$white: #fff;
$milk: #fafafa;
$text-black: #333;
$color-divide: #eaeaea;
$color-first: saturate($rose, 8%);

$dark-background: #2a201e;
$dark-divide: rgba($white, .1);
$dark-text: rgba($white, .5);

$search-input-height: 46px;
$search-keyword-width: 400px;
$search-commit-width: 100px;
$input-map-margin: 10px;
$map-width: 940px;
$map-height: 420px;
$map-nav-width: 280px;
$map-nav-title-height: 40px;

/* to be extended */
.format-border {
  border: none;
  &:focus {
    outline: none;
  }
}
.input {
  @extend .format-border;
  font-size: 16px;
  color: $text-black;
}
.button {
  @extend .format-border;
  font-size: 18px;
}

/* main */
/* AddressInput */
.#{$ns}address-input {
  display: inline-block;
  .#{$ns}input-keyword {
    @extend .input;
    padding: 0 1em;
    width: $search-keyword-width;
    height: $search-input-height;
    line-height: $search-input-height;
    vertical-align: middle;
    box-sizing: border-box;
  }
  .#{$ns}input-commit {
    @extend .button;
    display: inline-block;
    width: $search-commit-width;
    height: $search-input-height;
    background-color: $color-first;
    border-left: 1px solid $color-first;
    color: $milk;
    transition: background-color 0.3s ease;
    vertical-align: middle;
    &:hover {
      background-color: darken($color-first, 2%);
    }
    &:active {
      background-color: darken($color-first, 10%);
    }
  }
  &.dark {
    .#{$ns}input-keyword {
      color: $dark-text;
      background-color: $dark-background;
    }
    .#{$ns}input-commit {
      color: $dark-text;
      background-color: $dark-background;
      border-color: $dark-divide;
      &:hover {
        background-color: darken($dark-background, 1%);
      }
      &:active {
        background-color: darken($dark-background, 6%);
      }
    }
  }
}

/* AddressMap */
.#{$ns}address-map {
  margin-top: $input-map-margin;
  position: relative;
  width: $map-width;
  height: $map-height;
  background-color: $white;
  color: $text-black;
  .#{$ns}map-nav {
    float: left;
    width: $map-nav-width;
    height: 100%;
    border-right: 1px solid $color-divide;
    overflow-y: scroll;
    .#{$ns}map-nav-title {
      height: $map-nav-title-height;
      padding: 0 10px;
      border-bottom: 1px solid $color-divide;
      line-height: $map-nav-title-height;
      font-size: 14px;
      .#{$ns}map-nav-number {
        margin: 0 4px;
        font-weight: bold;
        color: $color-first;
      }
    }
    .#{$ns}map-items {
      height: $map-height - $map-nav-title-height;
      .no-items {
        padding: 30px 15px;
        font-size: 16px;
      }
      li {
        position: relative;
        padding: 10px 6px;
        border-bottom: 1px solid $color-divide;
        overflow: hidden;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #f6f6f6;
        }
        .map-item-mark {
          position: absolute;
          top: 14px;
          left: 10px;
          padding-top: 1px;
          width: 20px;
          height: 26px;
          background: url("http://api0.map.bdimg.com/images/marker_red_sprite.png") no-repeat;
          color: $milk;
          text-align: center;
        }
        .map-item-main {
          margin-left: 34px;
          .map-item-title {
            line-height: 26px;
          }
          .map-item-address,
          .map-item-tel {
            font-size: 14px;
            color: #666;
          }
        }
      }
    }
  }
  .#{$ns}map-main {
    position: absolute;
    top: 0;
    right: 0;
    width: $map-width - $map-nav-width;
    height: 100%;
    .#{$ns}map-info-window {
      width: 280px;
      margin: 2px 0;
      color: #666;
    }
    .#{$ns}map-info-btn {
      @extend .button;
      display: block;
      margin-top: 14px;
      padding: 0.4em 0.8em;
      background-color: $teal;
      border-radius: 4px;
      color: $milk;
      font-size: 15px;
      &:active {
        background-color: darken($teal, 5%);
      }
    }
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 0;
  }
  ::-webkit-scrollbar-track {
    background: #EEE;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  }
  ::-webkit-scrollbar-thumb {
    background: #B0B0B0;
    border-radius: 10px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &.dark {
    .#{$ns}map-nav {
      background-color: $dark-background;
      color: $dark-text;
      .#{$ns}map-nav-title {
        border-color: $dark-divide;
      }
      .#{$ns}map-nav-number {
        color: $color-first;
      }
      .#{$ns}map-items {
        li {
          border-color: $dark-divide;
          &:hover {
            background-color: darken($dark-background, 2%);
          }
          &:active {
            background-color: darken($dark-background, 6%);
          }
        }
        .#{$ns}map-item-mark {
          color: rgba($white, .75);
        }
      }
    }
    .#{$ns}map-main {
      .#{$ns}map-info-window {
      }
      .BMap_bubble_title {
        color: $dark-background;
        font-weight: 600;
      }
      .#{$ns}map-info-btn {
        background-color: $dark-background;
        color: darken($dark-background, 15%);
        &:active {
          background-color: darken($dark-background, 5%);
          color: $dark-text;
        }
      }
    }
  }
}

/* Baidu Map Autocomplete */
.tangram-suggestion-main {
  .tangram-suggestion {
    td {
      font-size: 14px;
      color: $color-first;
      i {
        padding-left: 8px;
        background: none;
      }
    }
  }
}
.tangram-suggestion-main {
  .tangram-suggestion {
    border-color: $dark-background;
    td {
      background-color: $dark-background;
      color: #C0C0C0;
      .tangram-suggestion-grey {
        color: $dark-text;
      }
    }
  }
}
