
//  ==================================================
//  Component: AddressSearch
//
//  Include: AddressInput AddressMap
//
//  Description:  Style for AddressSearch
//
//  TODO: [improve] 美化 map-nav 样式
//  ==================================================

/*==================================================
    Component: AddressSearch
  ==================================================*/

// variable
$ns: "" !default;

$rose: #E74C3C;
$teal: #1bbc9b;
$hulan: #09c4c7;
$white: #FFF;
$milk: #FAFAFA;
$text-black: #333;
$color-divide: #EAEAEA;
$color-first: saturate($rose, 8%);

$search-input-height: 50px;
$search-keyword-width: 400px;
$search-commit-width: 120px;

$input-map-margin: 10px;
$map-width: 940px;
$map-height: 420px;
$map-nav-width: 280px;
$map-nav-title-height: 40px;

/* to be extended */
.format-border {
  border: none;
  &:focus {
    outline: none;
  }
}

.input {
  @extend .format-border;
  font-size: 16px;
  color: $text-black;
}

.button {
  @extend .format-border;
  font-size: 18px;
}

/* main */

/* AddressInput */
.#{$ns}address-input {
  display: inline-block;
  .#{$ns}input-keyword {
    @extend .input;
    padding: 0 1em;
    width: $search-keyword-width;
    height: $search-input-height;
    line-height: $search-input-height;
    vertical-align: middle;
    box-sizing: border-box;
  }
  .#{$ns}input-commit {
    @extend .button;
    display: inline-block;
    width: $search-commit-width;
    height: $search-input-height;
    background-color:  $color-first;
    color: $milk;
    transition: background-color .3s ease;
    vertical-align: middle;
    &:hover {
      background-color:  darken($color-first, 2%);
    }
    &:active {
      background-color:  darken($color-first, 10%);
    }
  }
}

/* AddressMap */
.#{$ns}address-map {
  margin-top: $input-map-margin;
  position: relative;
  width: $map-width;
  height: $map-height;
  background-color: $white;
  color: $text-black;
  .#{$ns}map-nav {
    float: left;
    width: $map-nav-width;
    height: 100%;
    border-right: 1px solid $color-divide;
    overflow-y: scroll;
    .#{$ns}map-nav-title {
      height: $map-nav-title-height;
      padding: 0 10px;
      border-bottom: 1px solid $color-divide;
      line-height: $map-nav-title-height;
      font-size: 14px;
      .#{$ns}map-nav-number {
        margin: 0 4px;
        font-weight: bold;
        color: $color-first;
      }
    }
    .#{$ns}map-items {
      height: $map-height - $map-nav-title-height;
      li {
        position: relative;
        padding: 10px 6px;
        border-bottom: 1px solid $color-divide;
        overflow: hidden;
        transition: background-color .3s ease;
        &:hover {
          background-color: #F6F6F6;
        }
        .map-item-mark {
          position: absolute;
          top: 14px;
          left: 10px;
          padding: .3em;
          border-radius: 50%;
          background-color: $color-first;
          color: $milk;
        }
        .map-item-main {
          margin-left: 34px;
          .map-item-title {
            line-height: 26px;
          }
          .map-item-address, .map-item-tel {
            font-size: 14px;
            color: #666;
          }
        }
      }
    }
  }
  .#{$ns}map-main {
    position: absolute;
    top: 0;
    right: 0;
    width: $map-width - $map-nav-width;
    height: 100%;
    .map-info-window {
      width:280px;
      margin:2px 0;
      color:#666;
    }
    .map-info-btn {
      @extend .button;
      display: block;
      margin-top: 14px;
      padding: .4em .8em;
      background-color:  $teal;
      border-radius: 4px;
      color: $milk;
      font-size: 15px;
      &:active {
        background-color:  darken($teal, 5%);
      }
    }
  }
}

/* Baidu Map Autocomplete */
.tangram-suggestion-main .tangram-suggestion td {
  font-size: 14px;
  color: $color-first;
  i {
    background: none;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #DADADA;
  border-radius: 10px;
  // box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
